label,p {
  margin: 6px 6px 6px 0px;
}

input {
  margin: 5px;
}

button {
  margin: 2px;
  padding: 4px;
}

.page{
  height: 30em;
  overflow-y: scroll;
}

.name {  
  margin: 0 0 0 10px;
}

.type {
  margin: 0 0 0 10px;
}

.symbols button.selected {
  background-color: black;
  color: white;
}

.symbols button.selected:hover {
  background-color: #505050;
  color: white;
}

.symbols button.selected:active {
  background-color: black;
  color: white;
}