<div class="symbol-box">
  <div class="row">
    <div class="col-3">
      <label for="search-symbol">Search item</label>
    </div>
    <div class="col-7">
      <input id="search-symbol" [(ngModel)]="searchsymbol" placeholder="lt001">
    </div>
    <div class="col-2">
      <button id="search" type="button" class="btn btn-primary" (click)="onSearch(searchsymbol)">Search</button>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-7"></div>
    <div class="col-2">
      <button id="prefix" type="button" class="btn btn-primary" (click)="onPrefixes()">Show prefixes</button>
    </div>
  </div>

  <div class="row">
    <div class="col-3 page">
      <div *ngIf="symbols.length > 0">
        <div>
          <ul class="symbols">
            <li class="row" *ngFor="let symbol of symbols; let i = index" [class.button.selected]="i === selectedIndex">
              <div class="col">
                <button type="button" class="btn btn-primary" [class.selected]="symbol === selectedSymbol"
                  (click)="onSelect(symbol,i)">{{symbol.id}}
                  <span class="symbol">
                    <span class="name">{{symbol.name}}</span>
                    <span class="type">{{symbol.type}}</span>
                  </span>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="prefixes.length > 0" class="col">
        <ul class="prefixes">
          <li class="row" *ngFor="let prefix of prefixes; let i = index">
            <div class="col">
              <button type="button" class="btn btn-primary" [class.selected]="prefix === selectedPrefix"
                (click)="onSelectPrefix(prefix,i)">{{prefix.prefix}}
                <span class="prefix">
                  <span class="type">{{prefix.type}}</span>
                </span>
              </button>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-9">
      <div>
        <app-symbol-detail [symbol]="selectedSymbol"></app-symbol-detail>
      </div>
    </div>
  </div>


</div>
