label,p {
  margin: 6px 6px 6px 0px;
}

ul {
  padding: 0;
}

input {
  margin: 5px;
}

button {
  margin: 2px 0px 2px 2px;
  padding: 4px 0px 4px 4px;
}

.page{
  height: 30em;
  overflow-y: scroll;
}

.name {
  margin: 0 0 0 10px;
}

.symbol {
  margin: 3px 5px 3px 0px;
  padding: 5px;
  background-color: white;
  color: black;
}

.type {
  margin: 0 0 0 10px;
}

.symbol-box {
  margin: 0px 0px 0px 12px;
}

.symbols button.selected {
  background-color: black;
  color: white;
}

.symbols button.selected:hover {
  background-color: #505050;
  color: white;
}

.symbols button.selected:active {
  background-color: black;
  color: white;
}

.symbols {
  list-style-type: none; /* Remove bullets */
}

.prefixes {
  list-style-type: none; /* Remove bullets */
}

.prefixes button.selected {
  background-color: black;
  color: white;
}

.prefixes button.selected:hover {
  background-color: #505050;
  color: white;
}

.prefixes button.selected:active {
  background-color: black;
  color: white;
}

.prefix {
    margin: 3px 5px 3px 0px;
    padding: 5px;
    background-color: white;
    color: black;
}
