#box {
  border: 5px solid black;
  width: 100px;
  height: 100px;

  fill: #ffc8be;
  fill-opacity: 1;
  stroke: #999999;
  stroke-width: 1;
  size: 10px;
}

#point {
  fill: #df2605;
  fill-opacity: 1;
  stroke: #999999;
  stroke-width: 1;
  size: 10px;

}

#canvas {
  border: 5px solid rgb(224, 20, 20);
  width: 100px;
  height: 100px;

}
