<div *ngIf="symbol">
  <h2>{{symbol.name}} Details</h2>
  <div>
    <div class="left">id:</div>
    <div class="right">{{symbol.id}}</div>
  </div>
  <div>
    <div class="wrapper">
      <div class="left">name</div>
      <div class="right">{{symbol.name}}</div>
    </div>
    <div class="wrapper">
      <div class="left">type</div>
      <div class="right">{{symbol.type}}</div>
    </div>
    <div class="wrapper">
      <div class="left">size</div>
      <div class="right">{{symbol.size}}</div>
    </div>
    <div class="wrapper">
      <div class="left">rotation</div>
      <div class="right">{{symbol.rotation}}</div>
    </div>
    <div class="wrapper">
      <div class="left">fill</div>
      <div class="right">{{symbol.fill}}</div>
    </div>
    <div class="wrapper">
      <div class="left">fillopacity</div>
      <div class="right">{{symbol.fillopacity}}</div>
    </div>
    <div class="wrapper">
      <div class="left">stroke</div>
      <div class="right">{{symbol.stroke}}</div>
    </div>
    <div class="wrapper">
      <div class="left">strokeopacity</div>
      <div class="right">{{symbol.strokeopacity}}</div>
    </div>
    <div class="wrapper">
      <div class="left">strokewidth</div>
      <div class="right">{{symbol.strokewidth}}</div>
    </div>
    <div class="wrapper">
      <div class="left">stokelinecap</div>
      <div class="right">{{symbol.stokelinecap}}</div>
    </div>
    <div class="wrapper">
      <div class="left">strokedasharray</div>
      <div class="right">{{symbol.strokedasharray}}</div>
    </div>
    <div class="wrapper">
      <div class="left">strokelinejoinfill</div>
      <div class="right">{{symbol.strokelinejoinfill}}</div>
    </div>
    <div class="wrapper">
      <div class="left">symbol</div>
      <div class="right">{{symbol.symbol}}</div>
    </div>
    <div class="wrapper">
      <div class="left">welknown name</div>
      <div class="right">{{symbol.welknownname}}</div>
    </div>
  </div>
</div>
<canvas id="canvas1"></canvas>
