<div>
    <div *ngIf="symbol">
        <h2>{{symbol.name}} Details</h2>
        <div class="row">
            <div class="col">id:</div>
            <div class="col">{{symbol.id}}</div>
        </div>
        <div>
            <div class="row">
                <div class="col">name</div>
                <div class="col">{{symbol.name}}</div>
            </div>
            <div class="row">
                <div class="col">type</div>
                <div class="col">{{symbol.type}}</div>
            </div>
            <div class="row">
                <div class="col">size</div>
                <div class="col">{{symbol.size}}</div>
            </div>
            <div class="row">
                <div class="col">rotation</div>
                <div class="col">{{symbol.rotation}}</div>
            </div>
            <div class="row">
                <div class="col">fill</div>
                <div class="col">{{symbol.fill}}</div>
            </div>
            <div class="row">
                <div class="col">fillopacity</div>
                <div class="col">{{symbol.fillopacity}}</div>
            </div>
            <div class="row">
                <div class="col">stroke</div>
                <div class="col">{{symbol.stroke}}</div>
            </div>
            <div class="row">
                <div class="col">strokeopacity</div>
                <div class="col">{{symbol.strokeopacity}}</div>
            </div>
            <div class="row">
                <div class="col">strokewidth</div>
                <div class="col">{{symbol.strokewidth}}</div>
            </div>
            <div class="row">
                <div class="col">stokelinecap</div>
                <div class="col">{{symbol.stokelinecap}}</div>
            </div>
            <div class="row">
                <div class="col">strokedasharray</div>
                <div class="col">{{symbol.strokedasharray}}</div>
            </div>
            <div class="row">
                <div class="col">strokelinejoinfill</div>
                <div class="col">{{symbol.strokelinejoinfill}}</div>
            </div>
            <div class="row">
                <div class="col">symbol</div>
                <div class="col">{{symbol.symbol}}</div>
            </div>
            <div class="row">
                <div class="col">welknown name</div>
                <div class="col">{{symbol.welknownname}}</div>
            </div>
        </div>
    </div>
    <canvas id="canvas1"></canvas>
</div>
